/*
	Name: Mason Cutts
	File: styles.css
	Date: 21 February 2025
	This file is css for displaying a webpage of hot air balloons
*/


body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  /*edit this*/
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  /*Making the navigation bar stay at the top of the screen if the user scrolls down the page*/
  nav {
    background-color: #000;
    padding: .5em;
	top: 0;
	position: sticky;
  }
  
  /*Making the navigation bar words spaced out and centering them to the navigation bar*/
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  /*Putting the pictures in a grid like pattern with two in each row and three columns*/
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
	float: right;
	display: grid;
	grid-template-columns: 1fr 1fr;
  }

  /*Moving the top picture to the left of the text and creating the spacing to match the example*/
  .feature {
      width: 200px;
	  float: left;
	  margin: 0px 20px 20px 0px;
  }